<!-- STICKY PROFILE -->
<div class="container-fluid text-center sticky-hide" id="sticky-fluid">
  <div class="container">
    <div class="row">
    <div class="col-3 <% if(!currentUser) { %> col-4 <% } %>">
      <div class="sticky-container">
        <p class="sticky-icon"><span><a href="/"><i class="fas fa-home"></i></a></span></p>
        <p class="sticky-text">Home</p>
      </div>
    </div>
    <div class="col-3 <% if(!currentUser) { %> col-4 <% } %>">
      <div class="sticky-container">
        <p class="sticky-icon"><span><a href="#"><i class="fas fa-search"></a></i></span></p>
        <p class="sticky-text">Search</p>
      </div>
    </div>
    <% if(currentUser){ %>
    <div class="col-3">
      <div class="sticky-container">
        <p class="sticky-icon"><span><a href="#"><i class="fas fa-heart"></a></i></span></p>
        <p class="sticky-text">Saved</p>
      </div>
    </div>
    <div class="col-3">
      <div class="sticky-container">
        <p class="sticky-icon"><span><a href="/account-settings"><i class="fas fa-user-circle"></a></i></span></p>
        <p class="sticky-text">Profile</p>
      </div>
    </div>
    <% }else{ %>
    <div class="col-3 <% if(!currentUser) { %> col-4 <% } %>">
      <div class="sticky-container">
        <p class="sticky-icon"><span><a href="/login"><i class="fas fa-user-circle"></a></i></span></p>
        <p class="sticky-text">Login</p>
      </div>
    </div>
    <% } %>
  </div>
</div>
</div>

<footer class="container-fluid text-light-shade bg-dark-accent px-4 py-4 border-top ">
  <div class="row text-md-center my-3">
    <div class="col-12 col-md-4 mt-2 mb-2">
      <section class="about-footer">
        <h6><strong> About </strong></h6>
        <ul class="navbar-nav">
          <a href="#" class="mb-1"><li class="nav-item">Our Team</li></a>
          <a href="#" class="mb-1"><li class="nav-item">Career</li></a>
          <a href="#" class="mb-1"><li class="nav-item">Partners</li></a>
        </ul>
      </section>
    </div>
    <div class="col-12 col-md-4 mt-2 mb-2">
      <section class="host-footer">
        <h6><strong> Host </strong></h6>
        <ul class="navbar-nav">
          <a href="#" class="mb-1"><li class="nav-item">Host your home</li></a>
          <a href="#" class="mb-1"><li class="nav-item">Guideline and Policy</li></a>
          <a href="#" class="mb-1"><li class="nav-item">Payments</li></a>
        </ul>
      </section>
    </div>
    <div class="col-12 col-md-4 mt-2 mb-2">
      <section class="support-footer">
        <h6><strong> Support </strong></h6>
        <ul class="navbar-nav">
          <a href="#" class="mb-1"><li class="nav-item">Help</li></a>
          <a href="#" class="mb-1"><li class="nav-item">Trust & Safety</li></a>
          <a href="#" class="mb-1"><li class="nav-item">Contact</li></a>
        </ul>
      </section>
    </div>
  </div>
  <hr class="bg-dark-accent">
  <div id="footer-container" class="container">
  <div class="row" id="footer-cp">
    <div id="footer-column" class="col-12 d-md-flex justify-content-between align-items-center text-left">
      <span>
      <% date = new Date() %>
      <p>&copy; <%= date.getFullYear() %> Rentahouse, Inc. All right reserved </p>
    </span>
    <span>
      <ul class="d-flex flex-row m-0 mt-3 mt-md-0">
        <li class="nav-item"><a href="https://www.facebook.com/shisun8" class="mr-4"><i class="fab fa-facebook-f" id="facebook"></i></a></li>
       <li class="nav-item"> <a href="https://www.twitter.com/xqc" class="mr-4"><i class="fab fa-twitter" id="twitter"></i></a></li>
        <li class="nav-item"><a href="https://github.com/Shisunn/" class=""><i class="fab fa-github" id="github"></i></a></li>
      </ul>
    </span>
    </div>
  </div>
</div>
</footer>
